# COST OF LIVING IN THE UK: INSIGHTS VIA AI, DATA VISUALIZATION, AND STORYTELLING

*By Amin Sabbagh*  
*Student ID: 18055392* <br>
*EthOS Reference Number: 64001*

[**Intro**](intro.html) | [**Linear Regression Models**](linear_regression_models.html) | [**Further Insight**](further_insight.html) | [**Data Preprocessing Intro**](data_preprocessing_intro.html) | [**Data Preprocessing Continuous**](data_preprocessing_continuous.html) | [**Data Preprocessing Insights**](data_preprocessing_insights.html)

#### Imported Library

- **Pandas**: 
  Used to process data from Excel into dataframes

In [16]:
import pandas as pd

#### Extracting necessary data for variables needed for linear regression models and line graphs

In [5]:
# Specify the sheet name from which to read data
file_name = "data_LRM/CPI.xlsx"
sheet_name = 'data'

# Read data from Excel file into a DataFrame
df1 = pd.read_excel(file_name, sheet_name, skiprows=506, usecols='A, B')

# Specify the new column names
df1.columns = ["Date", "CPI"]

#remove last row for consistency 
df1 = df1[:-1]

# Display the DataFrame with the updated column names
print(df1)

        Date  CPI
0   2016 JAN  0.6
1   2016 FEB  0.6
2   2016 MAR  0.8
3   2016 APR  0.7
4   2016 MAY  0.7
..       ...  ...
91  2023 AUG  6.3
92  2023 SEP  6.3
93  2023 OCT  4.7
94  2023 NOV  4.2
95  2023 DEC  4.2

[96 rows x 2 columns]

In [6]:
# Specify the sheet name from which to read data
file_name = "data_LRM/food.xlsx"
sheet_name = 'Food inflation'

# Read data from Excel file into a DataFrame
df2 = pd.read_excel(file_name, sheet_name, skiprows=44, usecols='A, B')

# Specify the new column names
df2.columns = ["Date", "Food Inflation"]

df2 = df2[:-1]

# Display the DataFrame with the updated column names
print(df2)

         Date  Food Inflation
0  2016-01-01            -2.6
1  2016-02-01            -2.2
2  2016-03-01            -2.8
3  2016-04-01            -2.5
4  2016-05-01            -2.8
..        ...             ...
91 2023-08-01            13.6
92 2023-09-01            12.2
93 2023-10-01            10.1
94 2023-11-01             9.2
95 2023-12-01             8.0

[96 rows x 2 columns]

In [7]:
sheet_name = 'Restaurant and cafe inflation'

# Read data from Excel file into a DataFrame
df3 = pd.read_excel(file_name, sheet_name, skiprows=44, usecols='A, B')

# Specify the new column names
df3.columns = ["Date","Resturants Inflation"]

df3 = df3[:-1]

# Display the DataFrame with the updated column names
print(df3)

         Date  Resturants Inflation
0  2016-01-01                   1.8
1  2016-02-01                   1.7
2  2016-03-01                   1.9
3  2016-04-01                   2.1
4  2016-05-01                   2.2
..        ...                   ...
91 2023-08-01                   8.8
92 2023-09-01                   9.1
93 2023-10-01                   8.8
94 2023-11-01                   8.2
95 2023-12-01                   7.7

[96 rows x 2 columns]

In [8]:
# Specify the sheet name from which to read data
file_name = "data_LRM/housing.xlsx"
sheet_name = 'Rental price growth'

# Read data from Excel file into a DataFrame
df4 = pd.read_excel(file_name, sheet_name, skiprows=5, usecols='A, B')

# Specify the new column names
df4.columns = ["Date", "Rental Price"]

df4 = df4[:-1]

# Display the DataFrame with the updated column names
print(df4)

        Date  Rental Price
0   2016 Jan           2.6
1   2016 Feb           2.6
2   2016 Mar           2.6
3   2016 Apr           2.6
4   2016 May           2.5
..       ...           ...
91  2023 Aug           5.6
92  2023 Sep           5.7
93  2023 Oct           6.1
94  2023 Nov           6.2
95  2023 Dec           6.2

[96 rows x 2 columns]

In [9]:
sheet_name = 'House price growth'

# Read data from Excel file into a DataFrame
df5 = pd.read_excel(file_name, sheet_name, skiprows=5, usecols='A, B')

# Specify the new column names
df5.columns = ["Date", "House Price"]

# Display the DataFrame with the updated column names
print(df5)

        Date  House Price
0   2016 Jan          7.8
1   2016 Feb          7.7
2   2016 Mar          8.4
3   2016 Apr          7.9
4   2016 May          8.0
..       ...          ...
91  2023 Aug         -0.4
92  2023 Sep         -1.4
93  2023 Oct         -1.3
94  2023 Nov         -2.3
95  2023 Dec         -1.4

[96 rows x 2 columns]

In [10]:
# Specify the sheet name from which to read data
file_name = "data_LRM/energy.xlsx"
sheet_name = 'Motor fuel inflation'

# Read data from Excel file into a DataFrame
df6 = pd.read_excel(file_name, sheet_name, skiprows=44, usecols='A, B')

# Specify the new column names
df6.columns = ["Date", "Motor Fuel Price"]

#remove last row for consistency 
df6 = df6[:-1]

# Display the DataFrame with the updated column names
print(df6)

         Date  Motor Fuel Price
0  2016-01-01              -7.3
1  2016-02-01              -7.3
2  2016-03-01              -9.2
3  2016-04-01              -7.5
4  2016-05-01              -6.8
..        ...               ...
91 2023-08-01             -16.4
92 2023-09-01              -9.7
93 2023-10-01              -7.6
94 2023-11-01             -10.6
95 2023-12-01             -10.8

[96 rows x 2 columns]

In [11]:
sheet_name = 'Gas inflation'

# Read data from Excel file into a DataFrame
df7 = pd.read_excel(file_name, sheet_name, skiprows=44, usecols='A, B')

# Specify the new column names
df7.columns = ["Date", "Gas inflation"]

#remove last row for consistency 
df7 = df7[:-1]

# Display the DataFrame with the updated column names
print(df7)

         Date  Gas inflation
0  2016-01-01           -6.0
1  2016-02-01           -6.0
2  2016-03-01           -6.0
3  2016-04-01           -7.3
4  2016-05-01           -6.7
..        ...            ...
91 2023-08-01            1.7
92 2023-09-01            1.7
93 2023-10-01          -31.0
94 2023-11-01          -31.0
95 2023-12-01          -31.0

[96 rows x 2 columns]

#### Drop repeated columns

In [12]:
df2 = df2.drop(columns=["Date"])
df3 = df3.drop(columns=["Date"])
df4 = df4.drop(columns=["Date"])
df5 = df5.drop(columns=["Date"])
df6 = df6.drop(columns=["Date"])
df7 = df7.drop(columns=["Date"])

#### Concatenate all data into a single dataframe

In [13]:
# Concatenate df and df2 along the columns axis
df = pd.concat([df1, df2, df3, df4, df5, df6, df7], axis=1)

# Assign a name to the DataFrame 
df.name = "Cost of living"

# Display the updated DataFrame
print(df)

        Date  CPI  Food Inflation  Resturants Inflation  Rental Price  \
0   2016 JAN  0.6            -2.6                   1.8           2.6
1   2016 FEB  0.6            -2.2                   1.7           2.6
2   2016 MAR  0.8            -2.8                   1.9           2.6
3   2016 APR  0.7            -2.5                   2.1           2.6
4   2016 MAY  0.7            -2.8                   2.2           2.5
..       ...  ...             ...                   ...           ...
91  2023 AUG  6.3            13.6                   8.8           5.6
92  2023 SEP  6.3            12.2                   9.1           5.7
93  2023 OCT  4.7            10.1                   8.8           6.1
94  2023 NOV  4.2             9.2                   8.2           6.2
95  2023 DEC  4.2             8.0                   7.7           6.2

    House Price  Motor Fuel Price  Gas inflation
0           7.8              -7.3           -6.0
1           7.7              -7.3           -6.0
2           8.4              -9.2           -6.0
3           7.9              -7.5           -7.3
4           8.0              -6.8           -6.7
..          ...               ...            ...
91         -0.4             -16.4            1.7
92         -1.4              -9.7            1.7
93         -1.3              -7.6          -31.0
94         -2.3             -10.6          -31.0
95         -1.4             -10.8          -31.0

[96 rows x 8 columns]

#### Exporting all data to an excel file

In [14]:
# determining the name of the file
file_name = 'COL.xlsx'

In [15]:
# saving the excel
df.to_excel(file_name)